apiVersion: 1
datasources:
  - name: ClickHouse
    uid: clickhouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    jsonData:
      host: clickhouse-server
      port: "9000"
      protocol: native
      secure: false
      username: default
      defaultDatabase: default
      dialTimeout: "10"
      queryTimeout: "60"
      traces:
        defaultDatabase: default
        defaultTable: otel_traces
        otelEnabled: true
        otelVersion: latest
      logs:
        defaultDatabase: default
        defaultTable: otel_logs
        otelEnabled: true
        otelVersion: latest
